@page
@using Joobie.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}


    <form method="post" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data">
        <div class="border backgroundWhite row">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.Email" class="col-form-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Input.Email" class="form-control auth-input-width" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.Password" class="col-form-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Input.Password" class="form-control auth-input-width" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Input.ConfirmPassword" class="form-control auth-input-width" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="btn" type="checkbox" id="IsThisCompanyAccount" />
                    <label>Konto firmowe</label>
                </div>
                <div id="autoUpdate" class="autoUpdate">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Input.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="Input.Name" class="form-control auth-input-width" />

                        </div>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Input.Nip" class="col-form-label auth-input-width"></label>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="Input.Nip" class="form-control auth-input-width" />
                        </div>
                        <span asp-validation-for="Input.Nip" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="input-group" style="min-width: 200px">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Ustaw ikone firmy</span>
                            </div>
                            <div class="custom-file">
                                <input asp-for="Input.Image" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label overflow-auto" for="inputGroupFile01">Wybierz grafike</label>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Image" class="text-danger"></span>
                    </div>

                </div>

                @if (User.IsInRole(Strings.ModeratorUser) || User.IsInRole(Strings.AdminUser))
                {
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        @if (User.IsInRole(Strings.AdminUser))
                        {
                            <div class="form-group btn">
                                <input type="radio" name="rdUserRole" value="@Strings.AdminUser" checked /> <label>@Strings.AdminUser</label>
                            </div>
                        }
                        <div class="form-group btn">
                            <input type="radio" name="rdUserRole" value="@Strings.ModeratorUser" checked /> <label>@Strings.ModeratorUser</label>
                        </div>
                        <div class="form-group btn">
                            <input type="radio" name="rdUserRole" value="@Strings.CompanyUser" checked /> <label>@Strings.CompanyUser</label>
                        </div>
                        <div class="form-group btn">
                            <input type="radio" name="rdUserRole" value="@Strings.EmployeeUser" checked /> <label>@Strings.EmployeeUser</label>
                        </div>
                    </div>

                }

                <div class="form-group row">
                    <div class="col-8 offset-4">
                        <button type="submit" class="btn btn-primary form-control">Zarejestruj</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 align-self-center">
                    Rejestrując się na stronie wyrażasz zgodę na przetwarzanie danych osobowych
                    zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
                    kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem
                    danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).
            </div>
        </div>
    </form>



<script type="text/javascript">
    $(document).ready(function () {
        //Uncheck the CheckBox initially
        $('#IsThisCompanyAccount').removeAttr('checked');
        // Initially, Hide the SSN textbox when Web Form is loaded
        $('#autoUpdate').hide();
        $('#IsThisCompanyAccount').change(function () {
            if (this.checked) {
                $('#autoUpdate').show(1000);
            }
            else {
                $('#autoUpdate').hide(1000);
            }
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
