@model Joobie.ViewModels.ListViewModel<Joobie.Models.JobModels.Job>

@using Joobie.Utility
@{
    ViewData["Title"] = "ReadOnlyList";
}


    <div class="container">
        <partial name="~/Views/Jobs/Search.cshtml" model=@ViewData["searchSettingViewModel"] />
        @if (@Model.Items.Any())
        {
                <div class="row mt-3 justify-content-center">
                    <h3>Znaleziono @Model.Total ofert pracy.</h3>
                </div>
                @foreach (var job in Model.Items)
                {
                    <div class="row mt-2">
                        <div class="col-md-12 readonly-list-space">
                                <div class="card flex-row flex-wrap">
                                    <div class="card-header border-0">
                                        <img class="img-thumbnail h-80 mt-3" id="img" style="width: 110px;" src="@Url.Content("~/CompanyIcons/" + job.ApplicationUser.CompanyImagePath)" onerror="this.src='/CompanyIcons/default.png'" />
                                    </div>
                                    <div class="card-block px-2 ml-3">
                                        <h5 class="card-title">                            
                                            <a asp-action="Details" asp-route-id="@job.Id" class="btn btn-link" style="margin-bottom: 10px; font-weight:bold">@job.Name</a>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <i class="far fa-building"></i>
                                            @job.ApplicationUser.Name
                                        </h6>
                                        <p class="card-text">
                                            <i class="fas fa-map-marker-alt" style="padding-right: 10px"></i>
                                            @job.Localization
                                        </p>

                                        @if (!User.IsInRole(Strings.AdminUser) && !User.IsInRole(Strings.ModeratorUser) && !User.IsInRole(Strings.CompanyUser))
                                        {
                                            <a asp-action="Apply" asp-route-id="@job.Id" class="btn btn-primary"  style="margin-bottom: 10px">Aplikuj</a>
                                        }
                                        <br />
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                }
         <div class="row justify-content-center mt-3">
             <ul page-model="@Model.PagingInfo" page-classes-enabled="true"
                         page-class="" page-class-normal="page-item"
                         page-class-selected="page-item active"
                         class="pagination pagination-lg">
             </ul>
          </div>
    }
    else
    {
    <h2>Niestety nie znaleziono żadnych ofert</h2>
    }
</div>
