@model Joobie.ViewModels.SearchSettingViewModel
@{
    ViewData["Title"] = "Search";
}

<form asp-action="Index" method="post">
    <div class="row">
        <div class="input-group">
            <input class="form-control" placeholder="Stanowisko" type="text" asp-for="@Model.SearchString" value="@Model.SearchString" />
            <input class="form-control" placeholder="Miasto" type="text" asp-for="@Model.CitySearchString" value="@Model.CitySearchString" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-light" id="btnGroupAddon">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 mt-3 align-mid">
                <div class="btn-group dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategorie (@Model.Categories.Where(c => c.Selected == true).Count())</button>
                    <ul class="dropdown-menu columns">
                        @for (int i = 0; i < Model.Categories.Length; i++)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <label>
                                        <input type="checkbox" asp-for="@Model.Categories[i].Selected" />
                                        <label asp-for="@Model.Categories[i].Selected">@Model.Categories[i].Name</label>
                                        <input type="hidden" asp-for="@Model.Categories[i].Id" />
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 mt-3">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rodzaj umowy (@Model.TypesOfContracts.Where(c => c.Selected == true).Count())</button>
                    <ul class="dropdown-menu">
                        @for (int i = 0; i < Model.TypesOfContracts.Length; i++)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <label>
                                        <input class="catButton" type="checkbox" asp-for="@Model.TypesOfContracts[i].Selected" />
                                        <label asp-for="@Model.TypesOfContracts[i].Selected">@Model.TypesOfContracts[i].Name</label>
                                        <input type="hidden" asp-for="@Model.TypesOfContracts[i].Id" />
                                        <input type="hidden" asp-for="@Model.TypesOfContracts[i].Name" />
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                    </div>
            </div>
            <div class="col-md-3 col-sm-12 mt-3">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wymiar pracy (@Model.WorkingHour.Where(c => c.Selected == true).Count())</button>
                    <ul class="dropdown-menu">
                        @for (int i = 0; i < Model.WorkingHour.Length; i++)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <label>
                                        <input type="checkbox" asp-for="@Model.WorkingHour[i].Selected" />
                                        <label asp-for="@Model.WorkingHour[i].Selected">@Model.WorkingHour[i].Name</label>
                                        <input type="hidden" asp-for="@Model.WorkingHour[i].Id" />
                                        <input type="hidden" asp-for="@Model.WorkingHour[i].Name" />
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                    </div>
            </div>
            <div class="col-5 col-md-3 col-sm-12 mt-3">
                 <button asp-action="ResetSearch" class="btn btn-secondary form-control">Wyczyść filtry</button>
            </div>
        </div>
    </div>
</form>


<script language="javascript" type="text/javascript">
    /*
    let cat = document.querySelector('#categories');
    let categories - document.querySelectorAll(".catButton");
    categories.forEach((btn) => {
        btn.addEventListener('change', () => {
            if (this.checked) {
                let val = cat.value;
                
            }
        })
    });*/

</script>