@model Joobie.ViewModels.SearchSettingViewModel
@{
    ViewData["Title"] = "SearchBar";
}


    <div class="container mt-4 ">
        <form asp-action="Index" asp-controller="Jobs" method="post">
            <div class="row">
                <div class="col-md-3 col-sm-12 media-margin-top">
                    <input class="form-control form-control-lg" placeholder="Stanowisko" type="text" asp-for="@Model.SearchString" value="@Model.SearchString" />
                </div>
                <div class="col-md-3 col-sm-12 media-margin-top">
                    <input class="form-control form-control-lg" placeholder="Miasto" type="text" asp-for="@Model.CitySearchString" value="@Model.CitySearchString" />
                </div>
                <div class="col-md-3 col-sm-12 media-margin-top">
                    <button type="submit" class="btn btn-primary btn-lg" id="btnGroupAddon">
                        Szukaj ofert
                    </button>
                </div>
                @for (int i = 0; i < Model.Categories.Length; i++)
                {
                    <input type="hidden" asp-for="@Model.Categories[i].Selected" value="false" />
                    <input type="hidden" asp-for="@Model.Categories[i].Id" />
                    <input type="hidden" asp-for="@Model.Categories[i].Name" />
                }

                @for (int i = 0; i < Model.TypesOfContracts.Length; i++)
                {

                    <input type="hidden" asp-for="@Model.TypesOfContracts[i].Selected" value="false" />
                    <input type="hidden" asp-for="@Model.TypesOfContracts[i].Id" />
                    <input type="hidden" asp-for="@Model.TypesOfContracts[i].Name" />
                }

                @for (int i = 0; i < Model.WorkingHour.Length; i++)
                {
                    <input type="hidden" asp-for="@Model.WorkingHour[i].Selected" value="false" />
                    <input type="hidden" asp-for="@Model.WorkingHour[i].Id" />
                    <input type="hidden" asp-for="@Model.WorkingHour[i].Name" />
                }

        </div>
    </form>
</div>