@model Joobie.ViewModels.ListViewModel<Joobie.Models.JobModels.Job>
@{
    ViewData["Title"] = "JobsOffers";
    Layout = "_EmployeerLayout";
}

<h1>Twoje oferty pracy</h1>

@if (ViewBag.Error != null)
{
    <strong>ViewBag.Error</strong>
}

<div class="container">
    <div class="row">
        @if (@Model.Items.Any())
        {
            @foreach (var job in Model.Items)
            {
        <div class="col-md-12 readonly-list-space">
          
                <div class="card flex-row flex-wrap">
                    <div class="card-header border-0">
                        <img class="img-thumbnail h-100" id="img" style="width: 100px; height:100px;" src="@Url.Content("~/CompanyIcons/" + job.ApplicationUser.CompanyImagePath)" onerror="this.src='/CompanyIcons/default.png'" />
                    </div>
                    <div class="card-block px-2">
                        <h5 class="card-title">
                            @job.Name
                        </h5>
                        @if (@job.CVJobApplicationUser.Any())
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Ilość aplikacji: @job.CVJobApplicationUser.Count</h6>
                        }
                        else
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Jeszcze nikt nie zaaplikował na tą ofertę</h6>
                        }
                        <p class="card-text">
                            @job.Localization
                        </p>
                        <div class="form-row align-content-lg-start">
                            @if (@job.CVJobApplicationUser.Any())
                            {
                                <form class="col-auto" asp-action="Details" method="post">
                                    <button class="btn btn-link" type="submit">Zobacz aplikacje</button>
                                    <input type="hidden" name="id" asp-for="@job.Id" />
                                </form>
                            }
                            <form class="col-auto" asp-controller="Jobs" asp-action="Details" method="post">
                                <button class="btn btn-link" type="submit">Szczegóły</button>
                                <input type="hidden" name="id" asp-for="@job.Id" />
                            </form>
                        </div>
                        <div class="w-100"></div>
                    </div>
                </div>

        </div>

            }


            <div page-model="@Model.PagingInfo" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-secondary"
                 page-class-selected="btn-primary"
                 class="btn-group pull m-1">
            </div>
        }
        else
        {
            <h2>Niestety nie znaleziono żadnych ofert</h2>
        }
        <br/>
        <a asp-action="Create" asp-controller="Jobs" class="btn btn-primary">Dodaj nowa oferte</a>
    </div>

</div>



