@model Joobie.ViewModels.ListViewModel<Joobie.Models.JobModels.Job>
@{
    ViewData["Title"] = "JobsOffers";
    Layout = "_EmployeerLayout";
}
    <div class="row mt-4">
        <div class="col-6">
            <h2 class="text-info">Twoje oferty pracy</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" asp-controller="Jobs" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Dodaj nową ofertę</a>
        </div>        
    </div>

@if (ViewBag.Error != null)
{
    <strong>ViewBag.Error</strong>
}

<div class="container">

    @if (@Model.Items.Any())
    {
        @foreach (var job in Model.Items)
        {
            <div class="row mt-4">
                <div class="col-md-12 readonly-list-space">

                    <div class="card flex-row flex-wrap">
                        <div class="card-header border-0">
                            <img class="img-thumbnail h-80 mt-3" id="img" style="width: 110px; height:100px;" src="@Url.Content("~/CompanyIcons/" + job.ApplicationUser.CompanyImagePath)" onerror="this.src='/CompanyIcons/default.png'" />
                        </div>
                        <div class="card-block px-2">
                            <h5 class="card-title">
                                <a asp-action="Details" asp-route-id="@job.Id" class="btn btn-link" style="margin-bottom: 10px; font-weight:bold">@job.Name</a>
                            </h5>
                            @if (@job.CVJobApplicationUser.Any())
                            {
                                <h6 class="card-subtitle mb-2 text-muted">Ilość aplikacji: @job.CVJobApplicationUser.Count</h6>
                            }
                            else
                            {
                                <h6 class="card-subtitle mb-2 text-muted">Jeszcze nikt nie zaaplikował na tą ofertę</h6>
                            }
                        <p class="card-text">
                            <i class="fas fa-map-marker-alt" style="padding-right: 10px"></i>
                            @job.Localization
                        </p>
                            <div class="form-row align-content-lg-start">
                                @if (@job.CVJobApplicationUser.Any())
                                {
                                    <a asp-action="Details" class="btn btn-link" asp-route-id="@job.Id">Zobacz aplikacje.</a>
                                }
                                <a asp-action="Details" asp-controller="Jobs" class="btn btn-link" asp-route-id="@job.Id">Szczegóły oferty.</a> 
                            </div>
                            <div class="w-100"></div>
                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="row mt-3 justify-content-center">
            <ul page-model="@Model.PagingInfo" page-classes-enabled="true"
                page-class="" page-class-normal="page-item"
                page-class-selected="page-item active"
                class="pagination pagination-lg">
            </ul>
        </div>


    }
    else
    {

        <h3 style="width: 100%" class="mt-3">Niestety nie znaleziono żadnych ofert.</h3>

    }



</div>



