@model IEnumerable<Joobie.Models.JobModels.CVJobApplicationUser>

@{
    ViewData["Title"] = "Applied";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobInMiddleTable.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobInMiddleTable.ApplicationUser.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobInMiddleTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobInMiddleTable.ApplicationUser.Name)
            </td>
        </tr>
}
    </tbody>
</table>


