@model Joobie.ViewModels.ListViewModel<Joobie.Models.JobModels.CVJobApplicationUser>
@{
    ViewData["Title"] = "Twoje Aplikacje";
}

<h1>Twoje Aplikacje</h1>

<div class="container">
    <div class="row">
        @if (@Model.Items.Any())
        {
            @foreach (var job in Model.Items)
            {
                <div class="col-md-12 readonly-list-space">
                    <form asp-action="Details" method="post">
                        <div class="card flex-row flex-wrap">
                            <div class="card-header border-0">
                                <img class="img-thumbnail h-100" id="img" style="width: 100px;" src="@Url.Content("~/CompanyIcons/" + job.JobInMiddleTable.ApplicationUser.CompanyImagePath)" onerror="this.src='/CompanyIcons/default.png'"/>
                            </div>
                            <div class="card-block px-2">
                                <h5 class="card-title">
                                    <label class="btn btn-link">@job.JobInMiddleTable.Name</label>
                                </h5>
                                <input type="hidden" name="id" asp-for="@job.JobInMiddleTable.Id" />


                                <a class="card-text">@job.JobInMiddleTable.ApplicationUser.Name</a><br />
                                <a class="card-text">@Html.DisplayNameFor(m=>job.JobInMiddleTable.Salary)</a>: <a class="card-text">@job.JobInMiddleTable.Salary</a><br />
                                <a class="card-text">@job.JobInMiddleTable.Localization</a>
                                <div class="w-100"></div>
                            </div>
                        </div>
                    </form>
                </div>

            }
            <div page-model="@Model.PagingInfo" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-secondary"
                 page-class-selected="btn-primary"
                 class="btn-group pull m-1">
            </div>
        }
        else
        {
            <h2>Niestety nie znaleziono żadnych ofert</h2>
        }
    </div>

</div>


